.jack-cube-grid {
    width: 80px;
    height: 80px;
    /* margin: 100px auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jack-cube-grid .jack-cube {
    width: 33%;
    height: 33%;
    background-color: black;
    float: left;
    -webkit-animation: jack-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: jack-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.jack-cube-grid .jack-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.jack-cube-grid .jack-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.jack-cube-grid .jack-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.jack-cube-grid .jack-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.jack-cube-grid .jack-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.jack-cube-grid .jack-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.jack-cube-grid .jack-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.jack-cube-grid .jack-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.jack-cube-grid .jack-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes jack-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes jack-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}